* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #12181b;
  font-family: 'Work Sans', sans-serif;
  font-size: 2rem;
  color: #b2becd;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {

  margin: 1rem 0;
  text-align: center;
}



#game-img {
  margin-bottom: 1rem;
  border-radius: 5px;
  max-width: 80%;
}

#game-word {
  color: #fff;
  margin-bottom: 3rem;
  border: 2px dashed #fff;
  padding: 0.5rem 1rem;
}

#reset {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background: #09c372;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5rem;
}

#reset:hover {
  opacity: 0.7;
}

@media (min-width: 320px) and (max-width: 480px) {
  
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  #title {
    font-size: 1.7rem;
  }

  #game-word {
    font-size: 1rem;
  }
  
  #modal {
    top:0% !important;
  }
}

/* Modal */

#show-scores {
  text-decoration: none;
  color: #b2becd;
  border-bottom: 2px solid #fa8142;
  margin-top: 1rem;
  cursor: pointer;
}

.hide-scores {
  opacity: 0%;
  
  display: none;
  z-index: -1;
}

#modal {
  transition: ease-in-out 2s opacity;
  opacity: 100%;
  text-align: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: auto;
  background: rgba(0,0,0,1);

}



.score-arrow {
  max-width: 30px;

}

.add-score, .minus-score {
  cursor: pointer;
}

.player {
  margin: 1rem 0;
  padding: 0.2rem 0rem;
}

.close-btn {
  float: right;
  padding: 1rem;
  color: #ff90a6;
  cursor: pointer;
}
